*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: "popin", sans-serif;
}
body{
    height: 100vh;
   background-image:url("./images/backgroundimg.jpg"); ;
background-size: cover;
    color: #333;
    padding: 50px 5%;
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.container{
    position:relative;
    height: 100%;
    background:rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    }
header{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    padding:25px 5%;
   
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 25px;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
margin-left: 35px;
border-bottom: 2px solid transparent;
transition: -5ms;
}
.navbar a:hover,.navbar a.active{
border-color: #fff;
}
.home{
  display: flex;
  align-items: center;
  height: 100%;
  gap: 50px; 
  padding: 50px 5% 0; 
}
.home{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: #fff;
}
.home-details h1{
    font-size: 50px;
    line-height: 1;
}  
.home-details h2{
    font-size: 32px;

} 
.home-details p{
    font-size: 18px;
    margin: 10px 0 20px ;
}
.home-details .download-social{
    display: flex;
    align-items: center;
    
}
.home-details .btn{
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
box-shadow: 0 0 10px #fff;
color: #333;
text-decoration: none;
font-weight: 500;
transition: -5s;
}
.btn:hover{
    background: transparent;
    color: #fff;
    box-shadow: none;}
    .home-details .social-icons{
    margin-left: 20px;}
.download-social a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 50%; 
    font-size: 20px;
    color: #fff;
    margin: 0 8px;
    text-decoration: none;
    transition: -5s;
} 
.home-details .download-social a:hover{
background: #fff;
box-shadow: 0 0 10px #fff;
color: #333;
}
.home-image .img-box{

    position: relative;
    width: 28vw;
    height: 28vw;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff;
    overflow: hidden;
}
.submit{
    background-color: #5bbe5e; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 60%;
}
.contact-form{
 margin-left: 350px;   
}